
p{
    font-family: roboto;     
}

.the-title
{
font-size : 18px;         
font-weight: bold ;
width: 300px;
line-height: 24px;
margin-bottom: 5px;
}


.stats              
{
font-size:14px;
color:rgb(96,96,96);
margin-top: 0px;
margin-bottom: 16px;

}

.author
{
font-size:14px;
color:rgb(96,96,96);
margin-top: 0px;
margin-bottom: 16px;

}
.discreption
{
font-size:14px;
color:rgb(96,96,96);
margin-top: 0px;
width: 260px;
line-height: 22px;
}

.apple-txt
{
    color:white;
    background-color: #e34140;
    font-size: 14px;
    padding: 16px;
    margin-top: 60px;
    text-align: center;

}

.shop-now
{
    cursor: pointer;
}

.shop-now:hover
{
    text-decoration: underline;
}

